.App {
  text-align: center;
}

.carousel-item img {
  height: 300px;
  object-fit: cover;
}

.texts {
  text-align: center;
  display: flex;
  justify-content: space-evenly;
}

.brandcarousel {
  margin-top: 45px;
  background-color: #ccc;
}

.product-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 20px;
  padding: 20px;
}

.product-item {
  border: 1px solid #ddd;
  padding: 10px;
  text-align: center;
  background-color: #f9f9f9;
  cursor: pointer;
}

.product-item img {
  width: 100%;
  max-height: 200px;
  object-fit: contain;
}

.product-item h3 {
  font-size: 1.2em;
  margin: 10px 0;
}

.product-item p {
  font-size: 1em;
  color: green;
}
