.App {
  text-align: center;
}

.carousel-item img {
  height: 300px;
  object-fit: cover;
}

.texts {
  text-align: center;
  display: flex;
  justify-content: space-evenly;
}

.brandcarousel {
  margin-top: 45px;
  background-color: #ccc;
}